<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175828116338-auhepjiicoat7ri1gqtj4cqudofjb1hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175828116338-auhepjiicoat7ri1gqtj4cqudofjb1hr</string>
	<key>API_KEY</key>
	<string>AIzaSyC_mm7-40vIPoq9PaJK_MfwqyYlUXBzUMM</string>
	<key>GCM_SENDER_ID</key>
	<string>175828116338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easeIt</string>
	<key>PROJECT_ID</key>
	<string>ease-it-cea68</string>
	<key>STORAGE_BUCKET</key>
	<string>ease-it-cea68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175828116338:ios:af0071b182a0b9f46273eb</string>
</dict>
</plist>